.login{
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    width:300px;
    font-family: Arial;

}
#formlogin{
    display:flex ;
    flex-direction: column;
    

    
}
#log{
    background-color: greenyellow;
    border-radius: 10px;
    border-color: greenyellow;
    width: 40%;
    margin:0 auto;
}