.login{
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    width:300px;
    font-family: Arial;

}
#fromlogin{
    display:flex ;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    
}
